{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% block body %}
<div class="container col-md-5 shadow-lg p-3">
	<div class="row">
		<!--  offset-sm-1 text-center -->
		<div class="col text-center">
			<form method='post' class="justify-content-center" enctype='multipart/form-data'>
				{% csrf_token %}					
				<div class="p-1 mx-auto">
					{{feed_form.post_info}}
				</div>
				<div class="p-1 mx-auto">
					<img id='fi_disp' src="#" alt="Your image">
				</div>
				<div class="d-flex flex-row justify-content-center">
					<div class="p-2 col-sm-1 feed-upload" align="center">
						<label for='id_image'>
							<img id="up_image" src="{% static 'components/Image_upload.png' %}">
						</label>
						{{feed_form.image}}
					</div>
					<div class="p-2 col-sm-1 feed-upload">
						<label for='id_video'>
							<img id='video_upload' src="{% static 'components/video_upload.png' %}">
						</label>
						{{feed_form.video}}

					</div>
					<div class="p-2 col-sm-4">
						<input id='feed_form_submit' class="btn btn-sm btn-dark w-100" type="submit" name="submit" value="Post">
					</div>
				</div>
					
			</form>
		</div>
	</div>
</div>
<div class="post_edit_parent container col-md-5 ">
	{% for item in page_obj %}
		{% if item.user.id in request.user.frn_list_ids or item.user == request.user %}
		<!-- <h1>{{item.id}}</h1> -->
		<div class="row container shadow p-2 mt-2 rounded mx-auto ">
			<div class="col-md-2">
				<img class="img-thumbnail rounded-circle" src="{{item.user.profile.image.url}}">
			</div>
			<div class="col-md-9">
				<!-- Feed Post User Details -->
				<div class="row">
				{% if item.user == request.user %}
					<div class="col-sm-10 pl-0">
						{% if item.user.fname_empty %}
						<small><a href="{% url 'profile' %}">{{item.user.truncate|title}}</a></small>
						{% else %}
						<small><a href="{% url 'profile' %}">{{item.user.first_name}} {{item.user.last_name}}</a></small>
						{% endif %}
					</div>
				{% else %}
					{% if item.user.fname_empty %}
					<small><a href="{% url 'rprofile' item.user.id %}">{{item.user.truncate|title}}</a></small>
					{% else %}
					<small><a href="{% url 'rprofile' item.user.id %}">{{item.user.first_name}} {{item.user.last_name}}</a></small>
					{% endif %}
				{% endif %}
				</div>
							<!-- Feed Post User Email  -->
							<!-- 				<div class="row">
										<small>{{item.user.email}}</small>
									</div> -->
									<!--  Feed Post timeline  -->
				<div class="row">
					<h6 class="small">{{item.feed_post_time}}</h6>
					<!-- <span class="small">{{item.date}}</span> -->
				</div>

				<div class="replacer_editor" id="{{item.id}}">
					<!-- Feed post info or about the post -->
					<div class="row mt-2 mb-1">
						<span class="small post_info">{{item.post_info}}</span>
					</div>
					<!-- Feed Post image section -->
					<div class="row">
						{% if item.image %}
							<img class="post_img_url" src="{{item.image.url}}" width="400" height="400">
						{% elif item.video %}
						<video width="400" height="250" controls>
							<source src="{{item.video.url}}" type="video/mp4">
						</video>
						{% endif %}
					</div>
				</div>
				<!-- Likes Section -->
				<div class="row mr-auto">
					<form method="post" class='likes_form' likes-url="{% url 'feed:likes' item.id %}">
						{% csrf_token %}
						<input type="hidden" name="likes" value="1">
						<input class="likes_btn btn btn-sm btn-link pl-0 pt-0" type="submit" name="submit" value="Likes"><span class="likes_value small">{{item.likes_count}}</span>
					</form>
				</div>
				<!-- Comments Section -->
				<div class="row mr-auto">
					<form class="comment_form" comment-url="{% url 'feed:comments' item.id %}" method="post">
						<div class="form-group form-inline mb-0">
							{% csrf_token %}
							{{comment_form}}
							<input id='comment_btn' class="btn btn-sm btn-info" type="submit" name="submit" value="comment">
						</div>
					</form>
				</div>
				<!-- Commments List Section -->
				<div class="row mr-auto">
				<div class="container pl-0">
					<ul class="list-group list-group-flush" id=Feed{{item.id}}>
					{% if item.comments_set.all %}
						{% for item in item.comments_set.all %}
						<li class="list-group-item p-0 comment_li" id={{item.id}}>
								{% if item.user == request.user %}
									{% if item.user.fname_empty %}							
										<div class="d-flex flex-row">
											<a class="small pr-1" href="{% url 'profile' %}">{{item.user.truncate|title}} </a><span class="span_dimen small pr-1">{{item.comments}}</span>
											<input class='edit_button' src="{% static 'components/edit_comment.png' %}" type="image" name="Edit" value="Edit">
											
										</div>
									{% else %}
										<div class="d-flex flex-row">
											<a class="small pr-1" href="{% url 'profile'%}">{{item.user.first_name|title}} </a><span class="span_dimen small pr-1">{{item.comments}}</span>
											<input class='edit_button' src="{% static 'components/edit_comment.png' %}" type="image" name="Edit" value="Edit">
										</div>
									{% endif %}
								{% else %}
									{% if item.user.fname_empty %}
									<div class="d-flex flex-row">
										<a class="small pr-1" href="{% url 'rprofile' item.user.id %}">{{item.user.truncate|title}}</a> <span class="span_dimen small pr-1"> {{item.comments}}</span>
									</div>
									{% else %}
									<div class="d-flex flex-row">
										<a class="small pr-1" href="{% url 'rprofile' item.user.id %}">{{item.user.first_name|title}}</a> <span class="span_dimen small pr-1">{{item.comments}}</span>
									</div>
									{% endif %}
								{% endif %}
						</li>
						{% endfor %}	
					{% endif %}
					</ul>
				</div>
				</div>
			</div>
			<!-- Feed edit -->
			<div class="col-md-1">
				{% if item.user == request.user %}
				<div class="dropleft">
					<a href='' class="test text-decoration-none" id="dropdownMenuButton" data-toggle="dropdown">
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					 <a class="post_edit dropdown-item small" href="{% url 'feed:feed_edit' item.id %}">Edit</a>
					 <a class="dropdown-item small" href="{% url 'feed:feed_del' item.id %}">Delete</a>
					</div>
				 </div>
				{% endif %}
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>
<div class="container mt-2 p-3" align="center">
	<div class="col-md-6">
	{% if page_obj %}
			{% if page_obj.has_previous %}
					<small><a class="btn btn-sm btn-outline-light text-dark" href="?page=1">First</a></small>
			{% endif %}
			{% for num in paginator.page_range %}
				{% if num == page_obj.number and paginator.num_pages == 1 %}
					<small><a class="btn btn-sm btn-secondary" href="#"><<</a> <a class="btn btn-sm btn-light text-dark" href="?page={{num}}">{{num}}</a> <a class="btn btn-sm btn-secondary" href="#">>></a></small>
				{% elif num == page_obj.number %}
					<small><a class="btn btn-sm btn-light" href="?page={{num}}">{{num}}</a></small>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
					<small><a class="btn btn-sm btn-outline-light text-dark" href="?page={{num}}">{{num}}</a></small>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<small><a class="btn btn-sm btn-outline-light text-dark" href="?page={{paginator.num_pages}}">Last</a></small>
			{% endif %}
	{% endif %}
	</div>
</div>
{% endblock body %}
{% block script %}
<script type="text/javascript">
function readURL() {
	//	rehide the image and remove its current "src",
	//	this way if the new image doesn't load,
	//	then the image element is "gone" for now
	$('#fi_disp').attr('src', '').hide();
	if (this.files && this.files[0]) {
		// var reader = new FileReader();
		// $(reader).load(function(e) {
		// 	$('#fi_disp')
		// 		//	first we set the attribute of "src" thus changing the image link
		// 		.attr('src', e.target.result)	//	this will now call the load event on the image
		// });
		// reader.readAsDataURL(this.files[0]);
		$('#fi_disp').attr('src', URL.createObjectURL(this.files[0]));
		$('#fi_disp').onload = function(){
			URL.revokeObjectURL(this.src);
		}
	}
}

//	below makes use of jQuery chaining. This means the same element is returned after each method, so we don't need to call it again
$('#fi_disp')
	//	here we first set a "load" event for the image that will cause it change it's height to a set variable
	//		and make it "show" when finished loading
	.load(function(e) {
		// e.preventdefault();
		//	$(this) is the jQuery OBJECT of this which is the element we've called on this load method
		$(this)
			//	note how easy adding css is, just create an object of the css you want to change or a key/value pair of STRINGS
			.css('height', '400px')	//	or .css({ height: '200px' })
			//	now for the next "method" in the chain, we show the image when loaded
			.show();	//	just that simple
		$(this).css('width', '400px').show();
	})
	//	with the load event set, we now hide the image as it has nothing in it to start with
	.hide();	//	done

$("#id_image").change(readURL);
</script>
<script type="text/javascript">

</script>
<script type="text/javascript">

{% endblock script %}