{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container w-25 shadow-lg p-3 ">
	<form method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		{{feed_form|crispy }}
		<div align="center">
			<input class="btn btn-primary w-100" type="submit" name="submit" value="Post">
		</div>
	</form>
</div>
<div class="container w-25">
	{% for item in feed %}
	<div class="row shadow-lg p-3 mt-2">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-9">
			<div class="row">
				<small>{{item.user.email}}</small>
			</div>
			<div class="row">
				<small>{{item.post_info}}</small>
			</div>
			<div class="row">
				<img src="{{item.image.url}}" width="200" height="200">
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock body %}