{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container w-25 shadow-lg p-3 ">
	<form method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		{{feed_form|crispy }}
		<div align="center">
			<input class="btn btn-primary w-100" type="submit" name="submit" value="Post">
		</div>
	</form>
</div>
<div class="container">
	{% for item in feed %}
		<div class="row container shadow-lg p-2 mt-2 rounded w-50 mx-auto ">
			<div class="col-md-2">
				<img class="img-thumbnail rounded-circle" src="{{item.user.profile.image.url}}" width="50" height="50">
			</div>
			<div class="col-md-9">
				<!-- Feed Post User Details -->
				<div class="row">
				{% if item.user == request.user %}
					{% if item.user.fname_empty %}
					<small><a href="{% url 'profile' %}">{{item.user.truncate|title}}</a></small>
					{% else %}
					<small><a href="{% url 'profile' %}">{{item.user.first_name}} {{item.user.last_name}}</a></small>
					{% endif %}
				{% else %}
					{% if item.user.fname_empty %}
					<small><a href="{% url 'rprofile' item.user.id %}">{{item.user.truncate|title}}</a></small>
					{% else %}
					<small><a href="{% url 'rprofile' item.user.id %}">{{item.user.first_name}} {{item.user.last_name}}</a></small>
					{% endif %}
				{% endif %}
				</div>
				<div class="row">
					<small>{{item.user.email}}</small>
				</div>
				<!-- Feed post info or about the post -->
				<div class="row mt-2 mb-1">
					<small>{{item.post_info}}</small>
				</div>
				<!-- Feed Post image section -->
				<div class="row">
					<img src="{{item.image.url}}" width="400" height="400">
				</div>
				<!-- Likes Section -->
				<div class="row">
					<form method="post" action="{% url 'feed:likes' item.id %}">
						{% csrf_token %}
						<input type="hidden" name="likes" value="1">
					 	<input class="btn btn-link" type="submit" name="submit" value="Likes"><small>{{item.likes_count}}</small>
					 </form>
				</div>
				<!-- Comments Section -->
				<div class="row mx-auto">
					<form class="form-inline" action="{% url 'feed:comments' item.id %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							{{comment_form}}
							<input class="btn btn-sm btn-success" type="submit" name="submit" value="comment">
						</div>
					</form>
				</div>
				<!-- Commments List Section -->
				<div class="pl-0">
					{% if item.comments_set.all %}
					<!-- <ul class="list-group"> -->
						{% for item in item.comments_set.all %}
						<hr class="p-0 m-0 b-light">
							{% if item.user == request.user %}
								{% if item.user.fname_empty %}
								<small><a href="{% url 'profile' %}">{{item.user.truncate|title}} </a>{{item.comments}}</small>
								{% else %}
									<small><a href="{% url 'profile'%}">{{item.user.first_name|title}} </a> {{item.comments}}</small>
								{% endif %}
							{% else %}
								{% if item.user.fname_empty %}
								<small><a href="{% url 'rprofile' item.user.id %}">{{item.user.truncate|title}}</a> {{item.comments}}</small>
								{% else %}
									<small><a href="{% url 'rprofile' item.user.id %}">{{item.user.first_name|title}}</a> {{item.comments}}</small>
								{% endif %}
							{% endif %}
						{% endfor %}
					<!-- </ul> -->
					{% endif %}
					
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="container w-50">
	{% if is_paginated %}
		{% for pages in page_obj %}
			{% if pages.has_previous %}
				<small><a href="?page={{pages.page_number}}">{{pages.page_number}}</a></small>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% endblock body %}