{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- 	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
  	<script type="text/javascript" src="{% static 'js/snet7_base_js.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/fd_ap_fe_lce_ev.js' %}"></script>



	

</head>
<body class='poorthi_sarirammu'>
	<!-- Header or Nav Bar -->
	<div>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark pt-0 pb-0">
			<!-- My Posts, Logo and Feed Section -->
		 	<a class="navbar-brand" href="{% url 'feed:feed' %}">Social Net7</a>
			<div class="collapse navbar-collapse" id="navbarText">
			{% if user.is_authenticated %}	
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link text-white" href="{% url 'feed:feed' %}">Feed</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link text-white" href="{% url 'feed:myposts' request.user.id %}">MyPosts</a>
			      </li>
			    </ul>
			    <!-- Search Section in Nav Bar -->
			    <ul class="navbar-nav mx-auto">
					<li class="nav-item">
					    <form id="search_form" method="post" data_url="{% url 'search' %}">
					    	{% csrf_token %}
						    <div id='nav_search' class="input-group-sm">
						      	<input id='ip_nav_search'  type="search" class="form-control" name="search" placeholder="Search People, Friends" aria-label="Search" autocomplete="off">
<!-- 						      	<div class="input-group-append">
						     		<button class="btn btn-sm btn-success my-2 my-sm-0" type="submit">Search</button>
						      	</div> -->
						    </div>
					    </form> 
					</li>
			    </ul>
			    <!-- Friend Request Section -->
			    <ul class="navbar-nav ml-auto">
			    	<li class="nav-item">
			    		{% if request.user.friend_request.count == 0 %}
			    			<a class="nav-link text-white" href="{% url 'friend_req_received' %}"><img class="heart" src="{% static 'components/empty_heart.png' %}"></a>
			    		{% else %}
			    			<a class="nav-link text-white" href="{% url 'friend_req_received' %}"><img class="heart" src="{% static 'components/filled_love.png' %}"></a>
			    		{% endif %}
			    	</li>
					<!-- Profile Section -->
			    	<li class="nav-item">	
		    			{% if request.user.fname_empty %}
		    			<div class="dropdown">
		    				<a class="nav-link text-white" href="{% url 'profile' %}" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			<img class="img-thumbnail navbar-profile-image rounded-circle" src="{{request.user.profile.image.url}}"><span class="small">{{request.user.truncate|title}}</span></a>
							</a>
				    		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    			<a class="dropdown-item small" href="{% url 'profile' %}">Profile</a>
				    			<a class="dropdown-item small" href="{% url 'pchange' %}">Password Change</a>
			    			</div>	
		    			</div>
		    			{% else %}
		    			<div class="dropdown">
		    				<a class="nav-link text-white" href="{% url 'profile' %}" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    				<img class="img-thumbnail navbar-profile-image rounded-circle" src="{{request.user.profile.image.url}}">{{request.user.first_name|title}}</a>
							</a>
			    			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    				<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
			    				<a class="dropdown-item" href="{% url 'pchange' %}">Password Change</a>
			    				
			    			</div>
		    			</div>
		    			{% endif %}

				    </li>
				    <!-- Logout Section -->
				    <li class="navbar-nav ml-auto">
				    	<a class="nav-link text-white" href="{% url 'logout' %}"><span class="btn btn-sm btn-danger">LogOut</span></a>
				    </li>
			    </ul>
			   {% else %}
			   	<ul class="navbar-nav ml-auto">
			    	<li class="nav-item">
			    		<a class="nav-link text-white" href="{% url 'login' %}"><span class="btn btn-sm btn-success">Login</span></a>
				    </li>
				    <li class="navbar-nav ml-auto">
				    	<a class="nav-link text-white" href="{% url 'register' %}"><span class="btn btn-sm btn-danger">SignUp</span></a>
				    </li>
			    </ul>

			   {% endif %}
			</div>
		</nav>
		
	</div>
	<!-- Body of Web Page -->
	<div class="sharirammu">
		<div id='overlay' class="shadow-lg">
			<!-- <h6 class="small mx-auto p-3">Testing the sample</h6> -->
      		<ul id='id_search_results' class="list-group list-group-flush">
      			<!-- <h6>One more samples</h6> -->
			</ul>
      	</div>
		{% block body %}
		{% endblock body %}
		
	</div>
	<!-- Footer of Web Page -->
	<div>
		
	</div>


	{% block script %}
	{% endblock script %}




</body>
</html>