<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 	<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

</head>
<body>
	<!-- Header or Nav Bar -->
	<div>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		 	<a class="navbar-brand" href="#">Social Net7</a>
			<div class="collapse navbar-collapse" id="navbarText">
			{% if user.is_authenticated %}	
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link text-white" href="{% url 'feed:feed' %}">Feed</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link text-white" href="#">MyPosts</a>
			      </li>
			    </ul>
			    <ul class="navbar-nav mr-auto">
			    	<li class="nav-item">
					    <form class="form-inline my-2 my-lg-0">
					      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					    </form>
				    </li>
			    </ul>
			    <ul class="navbar-nav ml-auto">
			    	<li class="nav-item">
			    		<a class="nav-link text-white" href="{% url 'profile' %}"><span class="btn btn-sm btn-success">Profile</span></a>
				    </li>
				    <li class="navbar-nav ml-auto">
				    	<a class="nav-link text-white" href="{% url 'logout' %}"><span class="btn btn-sm btn-danger">LogOut</span></a>
				    </li>
			    </ul>
			   {% else %}
			   	<ul class="navbar-nav ml-auto">
			    	<li class="nav-item">
			    		<a class="nav-link text-white" href="{% url 'login' %}"><span class="btn btn-sm btn-success">Login</span></a>
				    </li>
				    <li class="navbar-nav ml-auto">
				    	<a class="nav-link text-white" href="{% url 'register' %}"><span class="btn btn-sm btn-danger">SignUp</span></a>
				    </li>
			    </ul>

			   {% endif %}
			</div>
		</nav>
		
	</div>
	<!-- Body of Web Page -->
	<div>
		{% block body %}
		{% endblock body %}
		
	</div>
	<!-- Footer of Web Page -->
	<div>
		
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	 	<script>
  	$( function() {
    	$( "#datepicker" ).datepicker({dateFormat: "dd/mm/yy", });
  	} );
  	</script>

</body>
</html>