{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="containter col-md-4 shadow mx-auto p-3 mt-2">
	<div class="col-sm-11 mx-auto">
		<form method="post">
			{% csrf_token %}
			{{form|crispy}}
			<div align="center">
			<!-- <a class="btn btn-sm btn-warning" href="{% url 'feed:feed' %}">Cancel</a> -->
			<input class="btn btn-sm btn-success" type="submit" name="Update" value="Change my Password">
			</div>
		</form>
	</div>
</div>
{% endblock body %}