{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
<!-- {% load i18n %} -->
{% block body %}
<div class="w-50 mx-auto mt-2">
	{% if messages %}
		{% for message in messages %}
		<div class="shadow-lg alert alert-success" align="center">
			<span>{{message}}</span>
		</div>
		{% endfor %}
	{% endif %}
</div>
<div class="container rounded shadow-lg mt-2 p-3 w-25">
	<div class="row">
		<div class="col-md-3">
			<img class="img-thumbnail rounded-circle" src="{{request.user.profile.image.url}}" width="50" height="50">
		</div>
		<div class="col-md-6">
			<div>
				{% if request.user.fname_empty %}
					<span>{{request.user.truncate|title}}</span>
				{% else %}
					<span>{{request.user.first_name}} {{request.user.last_name}}</span>
				{% endif %}
			</div>
			<span>{{request.user.email}}</span>
		</div>
	</div>
	<div>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{profile_form|crispy}}
			{{user_form|crispy}}
			<div align="center">
				<a class="btn btn-sm btn-warning" href="{% url 'profile' %}">Cancel</a>
				<input class="btn btn-sm btn-success" type="submit" name="submit" value="Update" >	
			</div>
		</form>
	</div>
	
</div>
{% endblock body %}