{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container">
	<div class="container wrapper_container col-md-10"> 
		<!-- Cover Photo -->
		<div id="cover_photo_div">
			<form class='cover_pic_form'>
				<div class="cover-img-disp-blc text-center">
					<img id='cover_photo_img' src="{{user.usercover.cover_photo.url}}">
				</div>
			</form>
		</div>
		<!-- Profile image -->
		<div id="profile-image-container">
			<img id='profile_image' class="img-thumbnail rounded-circle" src="{{user.profile.image.url}}">
		</div>
		<!-- Profile Name and Email -->
		<div class="row rower" id='second_part_div_prof'>
			<div class="col-md-6">
				<div class="offset-1">
					<div class="col-sm-8" id='prof_nam_detail'>
						<div>
							{% if user.fname_empty %}
								<span>{{user.truncate|title}}</span>
							{% else %}
								<span>{{user.first_name}} {{user.last_name}}</span>
							{% endif %}
						</div>
						<span class="small">{{user.email}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 d-flex flex-row-reverse">
				<div class="p-2">
					{% if freq_sent.freq_accp == request.user %}
					<!-- Accepting the Friend Request -->
					<form  method="post" action="{% url 'friends_accp' user.id %}">
						{% csrf_token %}
						<input type="hidden" name="friends" value="Yes">
						{% if freq_sent.friends == 'Yes' %}
							<div class="dropup">
								<span class="btn btn-info dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Friends</span>
								<div class="dropdown-menu frnd_menu">
									<a class="dropdown-item" href="{% url 'cancl_friend' user.id %}">Un Friend</a>
								</div>
							</div>
						{% elif freq_sent.freq == 'Yes' %}
							<button type="submit" class="btn btn-primary">Accept Request</button>
						{% endif %}
					</form>
					{% else %}
					<!-- Sending Friend Request -->
					<form id='friend_req_form' method="post" action="{% url 'friends_req' user.id %}">
						{% csrf_token %}
						<input type="hidden" name="freq" value="Yes">
						{% if freq_sent.friends == 'Yes' %}
							<div class="dropup">
								<span class="btn btn-info dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Friends</span>
								<div class="dropdown-menu frnd_menu">
									<a class="dropdown-item" href="{% url 'cancl_friend' user.id %}">Un Friend</a>
								</div>
							</div>
						{% elif freq_sent.freq == 'Yes' %}
							<span class="btn btn-primary">Request Sent</span>
						{% else %}
							<button id='friend_req_btn' class="btn btn-info" type="submit">Send Friend Req</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- User Details for update -->
		<div class="rprofile-user-form">
			<div class="d-flex flex-row">
				<form id="profile_user_form">		
					<div class="p-2">
						<label for='datepicker' class="prof_det_label">DOB</label>
						{{profile_form.dob}}
					</div>
				</form>
				<form id='profile_user_data_form' method="post" data-url='{% url "profile" %}'>
					<div class="d-flex flex-row">
						{% csrf_token %}
						<div class="p-2">
							<label for='id_email' class="prof_det_label">Email*</label>
							{{user_form.email}}	
						</div>
						<div class="p-2">
							<label for="id_first_name" class="prof_det_label">First Name</label>
							{{user_form.first_name}}	
						</div>
						<div class="p-2">
							<label for="id_last_name" class="prof_det_label">Last Name</label>
							{{user_form.last_name}}
						</div>
					</div>
					<div class="d-flex flex-row-reverse">
						
					</div>
				</form>
			</div>
		</div>
	</div>	
	<!-- User Posts Images and Videos -->
	<div class="container shadow-lg col-md-10" id="rprofile_posts_container">
		<div class="d-flex p-3">
			<h3 class="small">Your posts..!!</h3>
		</div>
		<div class="d-flex flex-wrap bg-light p-2">
			{% for feed_item in user_images %}
				{% if feed_item.image %}
					<div class="p-2 border">
						<img class="profile_image_flex" src="{{feed_item.image.url}}">
					</div>
				{% endif %}
			{% endfor %}			
		</div>
	</div>			
</div>
{% endblock body %}